absl-py==2.1.0
accelerate==1.0.1
Adafruit-Blinka==8.19.0
adafruit-circuitpython-busdevice==5.2.6
adafruit-circuitpython-mpu6050==1.2.2
adafruit-circuitpython-register==1.9.16
adafruit-circuitpython-requests==1.13.4
adafruit-circuitpython-typing==1.9.4
Adafruit-PlatformDetect==3.46.0
Adafruit-PureIO==1.1.11
addict==2.4.0
aiofiles==22.1.0
aiohappyeyeballs==2.4.0
aiohttp==3.10.5
aiosignal==1.3.1
ajsonrpc==1.2.0
albucore==0.0.17
albumentations==1.4.18
alembic==1.14.0
altair==4.2.2
altgraph==0.17.3
annotated-types==0.6.0
antlr4-python3-runtime==4.9.3
anyio==4.2.0
apispec==5.2.2
appdirs==1.4.4
APScheduler==3.11.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
array-record==0.4.0
arrow==1.3.0
astor==0.8.1
asttokens==3.0.0
astunparse==1.6.3
async-lru==2.0.4
async-timeout==4.0.3
attrdict==2.0.1
attrs==24.3.0
audioread==3.0.1
av==9.2.0
babel==2.16.0
backcall @ file:///home/ktietz/src/ci/backcall_1611930011877/work
backoff==1.11.1
backports.zoneinfo==0.2.1
bce-python-sdk==0.8.87
beautifulsoup4==4.12.2
bibtexparser==2.0.0b8
binaryornot==0.4.4
bitsandbytes==0.45.5
black==21.4b2
bleach @ file:///opt/conda/conda-bld/bleach_1641577558959/work
blinker==1.8.2
board==1.0
bokeh==3.1.1
boto3==1.34.158
botocore==1.34.158
bottle==0.12.23
Brotli==1.1.0
brotlipy==0.7.0
cachetools==5.3.3
certifi==2024.12.14
cffi==1.16.0
chardet==4.0.0
charset-normalizer==3.4.0
chex==0.1.7
cityscapesScripts==2.2.0
click==8.1.8
clip @ git+https://github.com/ultralytics/CLIP.git@f8cd7eec0bf1dc35cca8c090e7764b88027c3039
clldutils==3.24.0
cloudpickle==3.1.0
cmake==3.27.2
codecarbon==1.2.0
colorama @ file:///tmp/build/80754af9/colorama_1607707115595/work
colorcet==3.1.0
coloredlogs==15.0.1
colorlog==6.9.0
comm==0.2.2
conda==23.1.0
conda-content-trust @ file:///tmp/build/80754af9/conda-content-trust_1617045594566/work
conda-package-handling @ file:///tmp/build/80754af9/conda-package-handling_1649087926789/work
contourpy==1.1.1
cookiecutter==1.7.3
cplex==22.1.0.0
cryptography @ file:///tmp/build/80754af9/cryptography_1639400846433/work
cssselect==1.2.0
cssutils==2.11.1
csvw==3.5.1
customtkinter==0.3
cycler==0.11.0
Cython==0.29.30
cytoolz==0.11.0
darkdetect==0.7.1
dash==2.18.2
dash-bootstrap-components==1.6.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
dask==2023.5.0
databricks-cli==0.17.7
databricks-sdk==0.40.0
dataclasses-json==0.6.7
datasets==3.1.0
datashader==0.15.2
datashape==0.5.2
deap==1.4.1
debugpy==1.8.11
decorator==4.4.2
decord==0.6.0
deep-sort-realtime==1.3.1
# Editable install with no version control (deepface==0.0.79)
-e /home/wytcor/.local/lib/python3.8/site-packages
deepsparse==0.12.2
defusedxml==0.7.1
Deprecated==1.2.14
detectron2==0.6+cu101
diffusers==0.30.2
dill==0.3.8
distlib==0.3.6
distro==1.9.0
dlib==19.24.2
dlinfo==1.2.1
dm-tree==0.1.8
docker==7.1.0
docker-pycreds==0.4.0
docopt-ng==0.9.0
docplex==2.25.236
docstring_parser==0.16
docx==0.2.4
dotadevkit==1.3.0
duckduckgo_search==7.2.1
easydict==1.9
easyocr==1.7.1
editdistance==0.6.2
efficientnet==1.0.0
efficientnet_pytorch==0.7.1
einops==0.8.1
ensemble-boxes==1.0.9
entrypoints @ file:///tmp/build/80754af9/entrypoints_1649926445639/work
essential-generators==1.0
et-xmlfile==1.1.0
etils==1.3.0
eval_type_backport==0.2.2
evaluate==0.4.3
exceptiongroup==1.2.0
execnet==2.1.1
executing==2.1.0
face-recognition==1.3.0
face-recognition-models==0.3.0
faiss-cpu==1.8.0.post1
Faker==35.2.2
fastapi==0.108.0
fastjsonschema==2.21.1
fastrlock==0.8.2
filelock==3.11.0
filetype==1.2.0
fire==0.5.0
flasgger==0.9.5
Flask==3.0.3
flask-babel==3.1.0
Flask-Cors==3.0.10
flatbuffers==24.3.7
flax==0.6.2
fonttools==4.33.3
frozenlist==1.4.1
fsspec==2024.9.0
ftfy==6.2.3
fugashi==1.4.0
future @ file:///home/conda/feedstock_root/build_artifacts/future_1649010148304/work
fvcore==0.1.5.post20220512
gast==0.4.0
gdown==4.7.1
gensim==4.3.3
gin-config==0.5.0
gitdb==4.0.9
GitPython==3.1.43
glob2==0.7
google==3.0.0
google-api-core==2.11.1
google-api-python-client==2.96.0
google-auth==2.28.2
google-auth-httplib2==0.1.0
google-auth-oauthlib==1.0.0
google-cloud==0.34.0
google-pasta==0.2.0
googleapis-common-protos==1.60.0
# Editable install with no version control (gpt4all==2.2.1.post1)
-e /home/wytcor/miniconda3/lib/python3.8/site-packages
GPUtil==1.4.0
graphene==3.4.3
graphql-core==3.2.5
graphql-relay==3.2.0
graphviz==0.8.4
greenlet==3.1.1
grpcio==1.62.1
grpcio-tools==1.48.2
gTTS==2.3.2
gunicorn==21.2.0
gym==0.26.2
gym-notices==0.0.8
h11==0.14.0
h5py==3.10.0
hf-doc-builder==0.5.0
hf-xet==1.1.5
hiddenlayer==0.3
holoviews==1.17.1
httpcore==1.0.5
httplib2==0.22.0
httpx==0.27.2
huggingface-hub==0.34.3
humanfriendly==10.0
hydra-core==1.2.0
hypothesis==6.113.0
idna==3.10
imageio==2.35.1
imageio-ffmpeg==0.4.9
imagesize==1.4.1
imbalanced-learn==0.10.1
imblearn==0.0
img-utils==0.0.13
imgaug==0.4.0
immutabledict==3.0.0
importlib-resources==6.0.1
importlib_metadata==7.0.2
imutils==0.5.4
iniconfig==2.0.0
inquirerpy==0.3.4
install==1.3.5
iopath==0.1.9
ipadic==1.0.0
ipykernel==6.29.5
ipython==8.12.3
ipython-genutils @ file:///tmp/build/80754af9/ipython_genutils_1606773439826/work
ipywidgets @ file:///tmp/build/80754af9/ipywidgets_1634143127070/work
isodate==0.7.2
isort==5.13.2
itsdangerous==2.1.2
jax==0.4.13
jaxlib==0.4.13
jedi==0.19.2
Jinja2==3.1.2
jinja2-time==0.2.0
jiter==0.8.2
jmespath==1.0.1
joblib==1.3.1
json-tricks==3.17.3
json5==0.10.0
jsonpatch==1.33
jsonpickle==4.0.1
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
jupyter==1.0.0
jupyter-console @ file:///opt/conda/conda-bld/jupyter_console_1647002188872/work
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyter_server==2.14.2
jupyter_server_terminals==0.5.3
jupyterlab==4.3.3
jupyterlab-widgets @ file:///tmp/build/80754af9/jupyterlab_widgets_1609884341231/work
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
kaggle==1.5.16
kenlm==0.2.0
keras==2.13.1
Keras-Applications==1.0.8
keras-contrib @ git+https://www.github.com/keras-team/keras-contrib.git@3fc5ef709e061416f4bc8a92ca3750c824b5d2b0
keras-core==0.1.5
keras-nlp==0.6.1
Keras-Preprocessing==1.1.2
keras-resnet==0.2.0
keras-retinanet @ file:///home/wytcor/PROJECTs/CROP_FACES/keras-retinanet
keras-tuner==1.1.3
keras-vggface==0.6
kiwisolver==1.4.2
kt-legacy==1.0.4
langchain==0.2.17
langchain-community==0.2.19
langchain-core==0.2.43
langchain-ollama==0.1.3
langchain-openai==0.1.25
langchain-text-splitters==0.2.4
langsmith==0.1.125
language-tags==1.2.0
lazy_loader==0.4
libclang==16.0.6
librosa==0.10.2.post1
linkify-it-py==2.0.3
lit==16.0.6
llvmlite==0.41.1
lmdb==1.4.1
locket==1.0.0
lxml==6.0.0
Mako==1.2.4
Markdown==3.5.2
markdown-it-py==2.2.0
MarkupSafe==2.1.5
marshmallow==3.22.0
matplotlib==3.7.5
matplotlib-inline==0.1.7
mdit-py-plugins==0.4.2
mdurl==0.1.2
mediapipe==0.10.8
merge-args==0.1.4
MiniSom==2.3.3
missingno==0.5.2
mistral_inference==0.0.0
mistune==3.0.2
ml-dtypes==0.2.0
mlflow==2.17.2
mlflow-skinny==2.17.2
mmcv==1.5.1
mmdet==2.24.1
moviepy==1.0.3
mpmath==1.3.0
msgpack==1.0.5
mtcnn==0.1.1
multidict==6.1.0
multipledispatch==1.0.0
multiprocess==0.70.16
munch==4.0.0
mutagen==1.47.0
mxnet==1.9.1
mypy_extensions==1.1.0
namex==0.0.8
narwhals==1.42.1
nb-conda-kernels @ file:///tmp/build/80754af9/nb_conda_kernels_1606775941989/work
nbclassic @ file:///opt/conda/conda-bld/nbclassic_1644943264176/work
nbclient==0.10.1
nbconvert==7.16.4
nbformat==5.10.4
nest-asyncio==1.6.0
netron==8.0.8
networkx==2.8.2
ninja==1.11.1
nltk==3.9.1
nms==0.1.6
nni==3.0
notebook==6.4.11
notebook_shim==0.2.4
numba==0.58.1
numpy==1.24.4
nvidia-cublas-cu11==11.10.3.66
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu11==8.5.0.96
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu11==10.9.0.58
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu11==10.2.10.91
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu11==11.7.4.91
nvidia-cusparse-cu12==12.1.0.106
nvidia-ml-py==12.575.51
nvidia-nccl-cu11==2.14.3
nvidia-nccl-cu12==2.20.5
nvidia-nvjitlink-cu12==12.3.101
nvidia-nvtx-cu11==11.7.91
nvidia-nvtx-cu12==12.1.105
oauth2client==4.1.3
oauthlib==3.2.2
ollama==0.4.7
omegaconf==2.2.1
onnx==1.17.0
onnxconverter-common==1.13.0
onnxruntime==1.11.1
onnxruntime-gpu==1.11.1
open_clip_torch==2.29.0
openai==1.98.0
opencv-contrib-python==4.10.0.84
opencv-python==4.10.0.84
opencv-python-headless==4.11.0.86
openpyxl==3.1.2
opentelemetry-api==1.29.0
opentelemetry-sdk==1.29.0
opentelemetry-semantic-conventions==0.50b0
opt-einsum==3.3.0
optax==0.1.4
optuna==4.2.1
orjson==3.10.7
overrides==7.7.0
packaging==24.2
paddle-bfloat==0.1.7
paddleocr==3.1.0
paddlepaddle==3.0.0
paddlex==3.1.3
pafy==0.5.5
paho-mqtt==1.6.1
pandas==1.4.2
pandocfilters @ file:///opt/conda/conda-bld/pandocfilters_1643405455980/work
panel==1.2.3
param==2.1.1
parameterized==0.9.0
parse-args==2.0.0
parso==0.8.4
partd==1.4.1
patchelf==0.17.2.1
patchify==0.2.3
pathspec==0.9.0
pathtools==0.1.2
patsy==0.5.3
pdf2docx==0.5.6
peewee==3.15.0
peft==0.13.2
pexpect @ file:///tmp/build/80754af9/pexpect_1605563209008/work
pfzy==0.3.4
phasepack==1.5
phonemizer==3.3.0
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
pillow==10.2.0
pkgutil_resolve_name==1.3.10
plac==1.4.3
platformdirs==3.0.0
platformio==6.1.6
plotly==6.2.0
pluggy==1.5.0
pooch==1.8.2
portalocker==2.0.0
poyo==0.5.0
premailer==3.10.0
pretrainedmodels==0.7.4
prettytable==3.11.0
primp==0.15.0
prince==0.13.0
proglog==0.1.10
progressbar2==4.4.2
prometheus_client==0.21.1
promise==2.3
prompt_toolkit==3.0.47
protobuf==3.20.3
psutil==5.9.1
ptyprocess==0.7.0
pure_eval==0.2.3
py-cpuinfo==9.0.0
py4j==0.10.9.5
pyaml==25.7.0
pyarrow==17.0.0
pyasn1==0.5.1
pyasn1-modules==0.3.0
pybboxes==0.1.6
pyclipper==1.3.0.post5
pycocotools==2.0.4
pycosat==0.6.3
pycparser==2.21
pycryptodome==3.18.0
pycryptodomex==3.20.0
pyct==0.5.0
pyctcdecode==0.5.0
pydantic==2.10.6
pydantic_core==2.27.2
pydeck==0.8.0
pyDeprecate==0.3.2
pydot==1.4.2
pyelftools==0.29
pyftdi==0.54.0
pygame==2.4.0
Pygments==2.14.0
pygtrie==2.5.0
pyinstaller==6.11.0
pyinstaller-hooks-contrib==2024.9
PyJWT==2.8.0
pykalman==0.9.5
pylatexenc==2.10
Pympler==1.0.1
PyMuPDF==1.20.2
pynndescent==0.5.10
pynvml==11.5.3
pyopencl==2024.2.2
PyOpenGL==3.1.7
pyOpenSSL @ file:///opt/conda/conda-bld/pyopenssl_1643788558760/work
pyparsing==2.4.7
PyPDF2==3.0.1
pypdfium2==4.30.0
pypng==0.20220715.0
PyQt5-Qt5==5.15.15
PyQt5_sip==12.15.0
pyquaternion==0.9.9
pyrsistent @ file:///tmp/build/80754af9/pyrsistent_1636110947380/work
pyserial==3.5
PySocks==1.7.1
pyspark==3.3.0
pysqlite3-binary==0.4.7.post5
pytesseract==0.3.10
pytest==7.4.4
pytest-shutil==1.8.1
pytest-timeout==2.3.1
pytest-xdist==3.6.1
python-bidi==0.4.2
python-dateutil==2.8.2
python-docx==0.8.11
python-dotenv==1.0.1
python-json-logger==3.2.1
python-multipart==0.0.17
python-slugify==8.0.1
python-telegram-bot==21.6
python-utils==3.8.2
PythonWebHDFS==0.2.3
pytils==0.4.1
pytools==2024.1.2
pyttsx3==2.90
pytube==15.0.0
pytubefix==6.12.0
pytz==2023.3
pytz-deprecation-shim==0.1.0.post0
pyusb==1.2.1
pyviz_comms==3.0.3
PyWavelets==1.3.0
PyYAML==6.0.2
pyzmq==26.2.0
qtconsole==5.4.3
QtPy==2.3.1
qudida==0.0.4
querystring-parser==1.2.4
rapidfuzz==3.1.2
rarfile==4.0
ray==2.10.0
rdflib==7.1.1
redis==5.0.1
referencing==0.35.1
regex==2024.11.6
requests==2.32.3
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
responses==0.25.7
ResponsiveVoice==0.5.3
retina-face==0.0.13
retrying==1.3.4
rfc3339-validator==0.1.4
rfc3986==1.5.0
rfc3986-validator==0.1.1
rhoknp==1.3.0
rich==13.3.3
rjieba==0.1.11
roboflow==1.1.37
rouge_score==0.1.2
rpds-py==0.20.1
rsa==4.9
ruamel-yaml-conda @ file:///tmp/build/80754af9/ruamel_yaml_1616016699510/work
ruamel.yaml==0.18.14
ruamel.yaml.clib==0.2.8
ruff==0.1.5
s3transfer==0.10.2
sacrebleu==1.5.1
sacred==0.8.7
sacremoses==0.1.1
safetensors==0.4.3
sahi==0.11.18
schema==0.7.7
scikit-image==0.21.0
scikit-learn==1.2.2
scikit-optimize==0.10.2
scikit-plot==0.3.7
scipy==1.10.0
seaborn==0.11.2
segment-anything==1.0
segments==2.2.1
semantic-version==2.10.0
Send2Trash==1.8.3
sentence-transformers==3.2.1
sentencepiece==0.1.99
sentry-sdk==1.5.12
seqeval==1.2.2
setproctitle==1.2.3
shap==0.41.0
Shapely==1.8.2
shortuuid==1.0.9
shtab==1.7.2
sigopt==8.8.3
sip==4.19.13
six==1.16.0
sklearn==0.0
slicer==0.0.7
smart_open==7.3.0.post1
smbus==1.1.post2
smmap==5.0.0
sniffio==1.3.0
sortedcontainers==2.4.0
sounddevice==0.4.6
soundfile==0.12.1
soupsieve==2.4
soxr==0.3.7
sparseml==0.12.2
sparsezoo==0.12.1
SQLAlchemy==2.0.36
sqlparse==0.5.3
stack-data==0.6.3
starlette==0.32.0.post1
statsmodels==0.14.0
streamlit==1.21.0
style==1.1.0
SudachiDict-core==20241021
SudachiPy==0.6.9
supervision==0.25.1
sympy==1.12
tabulate==0.9.0
tenacity==8.5.0
tensorboard==2.13.0
tensorboard-data-server==0.7.2
tensorboard-plugin-wit==1.8.1
tensorboardX==2.6.2.2
tensorflow==2.13.1
tensorflow-decision-forests==1.5.0
tensorflow-estimator==2.13.0
tensorflow-hub==0.16.1
tensorflow-io-gcs-filesystem==0.26.0
tensorflow-text==2.13.0
tensorflowjs==4.10.0
tensorstore==0.1.41
termcolor==2.4.0
terminado==0.18.1
terminaltables==3.1.10
testpath @ file:///opt/conda/conda-bld/testpath_1655908557405/work
text-unidecode==1.3
tf-estimator-nightly==2.8.0.dev2021122109
tf-keras==2.15.0
tf-models-official==2.13.1
tf-slim==1.1.0
tf2onnx==1.16.1
thop==0.1.1.post2207130030
threadpoolctl==3.1.0
tifffile==2023.7.10
tiktoken==0.7.0
timeout-decorator==0.5.0
timm==1.0.15
tinycss2==1.4.0
tk==0.1.0
tokenizers==0.19.1
toml==0.10.2
tomli==2.2.1
tools==0.1.9
toolz==0.12.0
toposort==1.7
torch==2.4.1
torchaudio==2.4.1+cu118
torchmetrics==0.8.2
torchsummary==1.5.1
torchvision==0.19.1
torchviz==0.0.3
tornado==6.2
tqdm==4.67.1
traitlets==5.14.3
transformers==4.41.2
transforms==0.2.1
triton==3.0.0
trl==0.11.4
typeguard==4.1.2
types-python-dateutil==2.9.0.20241206
typing-inspect==0.9.0
typing_extensions==4.13.2
tyro==0.9.26
tzdata==2023.3
tzlocal==4.3
uc-micro-py==1.0.3
ujson==5.10.0
ultralytics==8.2.98
ultralytics-thop==2.0.0
umap-learn==0.5.2
unidic==1.1.0
unidic-lite==1.0.8
update==0.0.1
uritemplate==4.1.1
urllib3==2.2.3
utils==1.0.1
uvicorn==0.25.0
validators==0.20.0
virtualenv==20.20.0
visualdl==2.5.3
wandb==0.12.16
wasabi==0.10.1
watchdog==3.0.0
wcwidth==0.2.13
webencodings==0.5.1
websocket-client==1.8.0
websockets==13.1
Werkzeug==3.0.6
wget==3.2
widgetsnbextension @ file:///tmp/build/80754af9/widgetsnbextension_1645009353553/work
wrapt==1.16.0
wsproto==1.2.0
wurlitzer==3.0.3
xarray==2023.1.0
xgboost==2.1.2
xxhash==3.5.0
xyzservices==2024.9.0
yacs==0.1.8
yapf==0.32.0
yarl==1.11.1
yolov5==7.0.13
youtube-dl==2021.12.17
yt-dlp==2024.8.6
zipp==3.17.0
